<!DOCTYPE html>

<html>
    <head>
        <style>
            .error {color: rgb(255, 81, 0);}
        </style>
    </head>
    <h1>Sign-up</h1>
    <body>
      <form method="post">
          
      <label for="username">Username</label> 
      <input id="username" type="text" name="user_name" value ="{{user_name}}">
      <span class = "error"> {{error_name}}</span>
      <br>

      <label for="psword">Password</label>
      <input id="psword" type="password" name="psw" value = "{{psw}}">
      <span class = "error"> {{error_psw}}</span>
      <br>
      
      <label for="vpsword">Verify Password</label>
      <input id="vpsword" type="password" name="vpsw" value = "{{vpsw}}">
      <span class = "error"> {{error_vpsw}}</span>
      <br>

      <label for="email">Email(optional)</label> 
      <input id="email" type="text" name="mail" value = "{{mail}}">
      <span class = "error">{{error_mail}}</span>
      <br>

      <input type = "submit" value = "Finished?">
      </form>
    </body>
</html>